selenium
PySocks
async-generator
attrs
certifi
charset-normalizer
exceptiongroup
h11
idna
iniconfig
outcome
packaging
pluggy
pytest
python-dotenv
requests
selenium
setuptools
sniffio
sortedcontainers
tomli
tqdm
trio
trio-websocket
urllib3
webdriver-manager
wheel
wsproto
