selenium
PySocks
async-generator
attrs
certifi
charset-normalizer
exceptiongroup
h11
idna
iniconfig
outcome
packaging
pluggy
pytest
python-dotenv
requests
selenium
setuptools
sniffio
sortedcontainers
tomli
tqdm
trio
trio-websocket
urllib3
webdriver-manager
wheel
wsproto
allure-pytest
pytest-rerunfailures
allure-python-commons
Pygments
appnope
asstokens
backcall
decorator
executing
ipdb
ipython
jedi
matplotlib-inline
parso
pexpect
pickleshare
pip
prompt-toolkit
ptyprocess
pure-eval
six
stack-data
traitlets
wcwidth
websockets
